<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Exchange Symbols</title>
</head>
<body>

    <h1>
        <span th:text="${symbolListTitle}"></span>
    </h1>

    <th:block >
        <table th:cellpadding="2">
            <thead>
            <tr>
                <th>From</th>
                <th></th>
                <th>To</th>
            </tr>
            </thead>
            <tr th:each="symbol : ${symbols}">
                <td align="center"><span th:text="${symbol.symbol1}"></span></td>
                <td>=></td>
                <td align="center"><span th:text="${symbol.symbol2}"></span></td>
            </tr>
        </table>
    </th:block>

</form>

</body>
</html>