<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Exchange Symbols</title>
</head>
<body>

<h1>
    <span th:text="${symbolsTitle}"></span>
</h1>


    <th:block >
        <table th:cellpadding="2">
            <thead>
            <tr>
                <th>From</th>
                <th></th>
                <th>To</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="varSym : ${symbols}">
                <td align="center"><span th:text="${varSym.symbol1}"></span></td>
                <td>=></td>
                <td align="center"><span th:text="${varSym.symbol2}"></span></td>
                <td>
                    <form action="#" th:action="@{/symbols}" method="post">
                        <input type="hidden" name="symbolDto" id="symbolDto" th:value="${varSym.symbolDto}" />
                        <input type="submit" value="Add Symbol to DB" />
                    </form>
                </td>
            </tr>
        </table>
    </th:block>



</body>
</html>