<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="60%" fxFlexOffset="25%">
    <h1>Symbols</h1>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start start">

  <div fxFlex="25%" fxFlexOffset="10%">
    <h2>Saved Symbols</h2>

    <table [dataSource]="savedSymbols" class="mat-elevation-z8" mat-table width="250px">

      <ng-container matColumnDef="savedSymbol1">
        <th *matHeaderCellDef mat-header-cell> Symbol 1</th>
        <td *matCellDef="let savedSymbol" mat-cell> {{savedSymbol.symbol1}} </td>
      </ng-container>

      <ng-container matColumnDef="savedSymbol2">
        <th *matHeaderCellDef mat-header-cell> Symbol 2</th>
        <td *matCellDef="let savedSymbol" mat-cell> {{savedSymbol.symbol2}} </td>
      </ng-container>

      <ng-container matColumnDef="deleteButton">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let savedSymbol" mat-cell>
          <button (click)="deleteSymbol(savedSymbol)" mat-raised-button>Delete</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="savedSymbolColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: savedSymbolColumns;" mat-row></tr>
    </table>

  </div>

  <div fxFlex="25%" fxFlexOffset="10%">
    <h2>API Symbols</h2>

    <table [dataSource]="symbols" class="mat-elevation-z8" mat-table width="250px">

      <ng-container matColumnDef="symbol1">
        <th *matHeaderCellDef mat-header-cell> Symbol 1</th>
        <td *matCellDef="let symbol" mat-cell> {{symbol.symbol1}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol2">
        <th *matHeaderCellDef mat-header-cell> Symbol 2</th>
        <td *matCellDef="let symbol" mat-cell> {{symbol.symbol2}} </td>
      </ng-container>

      <ng-container matColumnDef="addButton">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let symbol" mat-cell>
          <button (click)="addSymbol(symbol)" mat-raised-button>Add</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

</div>

