<div fxLayout="row" fxLayoutAlign="start start" >
  <div fxFlex="40%" fxFlexOffset="25%">
    <h1>Historical Rates</h1>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start start" >

  <div fxFlex="20%" fxFlexOffset="10%">
    <h2>Historical Rates</h2>

    <table mat-table width="800px" [dataSource]="historicalRates" class="mat-elevation-z8">

      <ng-container matColumnDef="idColumn" >
        <th mat-header-cell *matHeaderCellDef width="100px"> Id </th>
        <td mat-cell *matCellDef="let rate"> {{rate.id}} </td>
      </ng-container>

      <ng-container matColumnDef="base">
        <th mat-header-cell *matHeaderCellDef width="100px"> Base </th>
        <td mat-cell *matCellDef="let rate"> {{rate.base}} </td>
      </ng-container>

      <ng-container matColumnDef="rates">
        <th mat-header-cell *matHeaderCellDef width="300px"> Rates </th>
        <td mat-cell *matCellDef="let rate">

          <table mat-table  [dataSource]="rate.rates" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef width="300px"> Date </th>
              <td mat-cell *matCellDef="let rateDto">
                {{rateDto.date}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="subColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: subColumns;"></tr>

          </table>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
