<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened >

    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/symbols-list">Symbols List</a>
      <a mat-list-item routerLink="/quotes">Quotes</a>
      <a mat-list-item routerLink="/convert-currency">Convert Currency</a>
      <a mat-list-item routerLink="/rates">Rates</a>


    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
