<div fxLayout="row" fxLayoutAlign="center start" >
  <div fxFlex="40%" >
    <h1>Currency Exchange Home</h1>
    <h3>Rates found here are provided by the following: </h3>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center start" >

  <div fxFlex="30%" >

    <mat-card class="mat-elevation-z8">
      <mat-card>
        <h3>Source API:</h3>
        <h2><a href="https://exchangeratesapi.io">European Central Bank(ECB)</a></h2>
      </mat-card>
    </mat-card>
  </div>


  <div fxFlex="30%" fxFlexOffset="10%" >

    <mat-card class="mat-elevation-z8">
      <mat-card>
        <h3>Source API:</h3>
        <h2><a href="https://developers.coinbase.com/api/v2">Coinbase</a></h2>
      </mat-card>
    </mat-card>
  </div>

</div>
